In [3]:
import pandas as pd

In [4]:
df = pd.read_excel('r1.xlsx')

In [5]:
df.head()

,Unnamed: 0,title,price,area,address
0,0,"['Owner Contact Details', ' Owner Contact Deta...","[' 200,000', ' 60,000', ' 150,000', ' 100,000'...","['1,281', '450', '1,010', '1,682', '900', '1,5...","['', ',\xa0Gharkul, Sector 15, Kharghar, Navi ..."

In [17]:
df.title[0].astype('object')

AttributeError: 'str' object has no attribute 'astype'

In [15]:
type(df.title[0])

str