In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('r1.xlsx')

In [4]:
df.head()

,Unnamed: 0,title,price,area,address
0,0,"['Owner Contact Details', ' Owner Contact Deta...","[' 200,000', ' 60,000', ' 150,000', ' 100,000'...","['1,281', '450', '1,010', '1,682', '900', '1,5...","['', ',\xa0Gharkul, Sector 15, Kharghar, Navi ..."

In [10]:
x = df.title[0]

In [11]:
for i in x:
    print(i)

[
'
O
w
n
e
r

C
o
n
t
a
c
t

D
e
t
a
i
l
s
'
,

'

O
w
n
e
r

C
o
n
t
a
c
t

D
e
t
a
i
l
s
'
,

'
E
n
j
o
y
!
!
'
,

'
2

B
H
K

F
o
r

R
e
n
t

i
n

G
o
o
d
w
i
l
l

P
a
r
a
d
i
s
e
,

K
h
a
r
g
h
a
r
'
,

'
'
,

'
1

B
H
K

F
o
r

R
e
n
t

i
n

C
B
D

B
e
l
a
p
u
r
'
,

'
'
,

'
2

B
H
K

F
o
r

R
e
n
t

i
n

R

k

r
e
s
i
d
e
n
c
y
,

N
e
r
u
l
'
,

'
'
,

'
3

B
H
K

F
o
r

R
e
n
t

i
n

W
h
i
t
e

W
o
o
d
s

b
y

S
h
a
g
u
n

R
e
a
l
t
y
,

U
l
v
e
'
,

'
'
,

'
2

B
H
K

F
o
r

R
e
n
t

i
n

V
a
r
s
h
a

A
p
a
r
t
m
e
n
t
s
,

C
B
D

B
e
l
a
p
u
r
'
,

'
'
,

'
3

B
H
K

F
o
r

R
e
n
t

i
n

R
a
i
n
b
o
w

C
o
-
o
p
e
r
a
t
i
v
e

h
o
u
s
i
n
g

S
o
c
i
e
t
y
,

V
a
s
h
i
'
,

'
'
,

'
2

B
H
K

F
o
r

R
e
n
t

i
n

H
u
m
l
o
g

C
h
s

L
t
d
.
,

V
a
s
h
i
'
,

'
'
,

'
1

B
H
K

F
o
r

R
e
n
t

i
n

S
w
a
r
a
j
y
a

c
h
s
,

A
i
r
o
l
i
'
,

'
'
,

'
1

R
K

F
o
r

R
e
n
t

i
n

A
P
,

K
o
p
a
r

K
h
a
i
r
a
n
e
'
,

'
'
,

'
1

B
H
K

F
o
r

R
e
n
t

i
n

J
a
y
a
n
i

A
p
a
r
t
m
e
n
t
,

K
h
a
r
g
h
a
r
'
,

'
'
]