In [1]:
import pandas as pd

In [3]:
df = pd.read_excel('test04.xlsx')

In [4]:
df

,Unnamed: 0,title,price,area,owner
0,0,"['for rent inVijay Nagar', 'for rent inVijay N...","['18,000', '₹18,000', '12,000', '₹12,000', '15...","['900 sqft', '1100 sqft', '900 sqft', '1000 sq...","['A shrimali', 'Mayank Mayank', 'Akshay Yadav'..."

In [5]:
df1 = pd.DataFrame()

In [ ]:
# Creating two columns 
df['Title'] = list1[0::4] 
df['Price'] = list1[1::4]
df['Area'] = list1[2::4] 
df['Owner'] = list1[3::4]

In [ ]:
  
# Converting to excel 
df.to_excel('result.xlsx', index = False)