In [25]:
import pandas as pd

In [65]:
df_g = pd.read_excel('geetabhavan_price_area.xlsx', columns=["Title", "price", "area", "owner_name", "address"])

In [66]:
df_g = df_g.transpose()

In [67]:
df_g.head()

,0,1,2
Unnamed: 0,NaN,price,area
Unnamed: 1,NaN,"['11,000', '16,000', '15,000', '10,000', '18,0...","['1200 ', '1600 ', '1400 ', '1100 ', '1600 ', ..."

In [70]:
# del df_g[0]
# del df_g[3]
# del df_g[4]

In [71]:
df_g.head()

,1,2
Unnamed: 0,price,area
Unnamed: 1,"['11,000', '16,000', '15,000', '10,000', '18,0...","['1200 ', '1600 ', '1400 ', '1100 ', '1600 ', ..."

In [72]:
df_g[1][0].astype('int')

AttributeError: 'str' object has no attribute 'astype'

In [74]:
df_g[df_g[1] != 'price']

AttributeError: 'DataFrame' object has no attribute 'name'