In [1]:
import pandas as pd

In [11]:
df_g = pd.read_excel('geetabhavan_price_area.xlsx', columns=["Title", "price", "area", "owner_name", "address"])

In [12]:
df_g = df_g.transpose()
df_g = df_g[df_g[1] != 'price']

In [13]:
# del df_g[0]
# del df_g[3]
# del df_g[4]
df_g.head()

,0,1,2
Unnamed: 1,NaN,"['11,000', '16,000', '15,000', '10,000', '18,0...","['1200 ', '1600 ', '1400 ', '1100 ', '1600 ', ..."

In [23]:
df_g[1][0][0]

'['

In [78]:
df_g[0]

Unnamed: 0    NaN
Unnamed: 1    NaN
Name: 0, dtype: object