In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('palasia_and_nearby.xlsx')

In [4]:
df.transpose()

,0,1,2,3,4
Unnamed: 0,title,price,area,owner_name,address
0,"['1 BHK Apartment', 'Apartment2 BHK ', 'BHK Ap...","['12,500', '20,000', '20,000', '12,000', '15,0...","['750 ', '825 ', '1300 ', '1000 ', '800 ', '40...","['Amit', 'jain', 'irfan', 'Neel jain', 'Ravind...","['Palasia', 'Palasia', 'Palasia', 'South Tukog..."

'['