In [63]:
import pandas as pd

In [80]:
df = pd.read_excel('m_new.xlsx')

In [89]:
df.BHK.unique()

array(['Residential Plot', '3 BHK Apartment', '4 BHK Villa',
       '4 BHK Independent Floor', '3 BHK Independent House',
       '6 BHK Independent House', '4 BHK Independent House',
       '10 BHK Independent House', '4 BHK Apartment',
       '2 BHK Independent House', '3 BHK Villa', '5 BHK Apartment',
       '1 BHK Independent House', '2 BHK Apartment',
       '2 BHK Independent Floor', '1 BHK Apartment', '1 BHK Villa'],
      dtype=object)

In [81]:
df.head()

   Unnamed: 0               BHK             Loc Link   Price    Area
0           0  Residential Plot  Vijay Nagar, Indore  9900.0   87120
1           1  Residential Plot  Vijay Nagar, Indore  7000.0   43560
2           2   3 BHK Apartment  Vijay Nagar, Indore  1378.0    2600
3           3  Residential Plot  Vijay Nagar, Indore   600.0  139616
4           4  Residential Plot  Vijay Nagar, Indore   456.0    3800

In [82]:
# for i in range(22):
#     df.Price[i] = df.Price[i]*100

In [77]:
# df.Price[21]

100.0

In [79]:
# df.to_excel('m_new.xlsx')

In [113]:
df1 = df[df['BHK'].str.contains("Independent Floor")]

In [114]:
df1.head()

    Unnamed: 0                      BHK             Loc Link  Price  Area
9            9  4 BHK Independent Floor  Vijay Nagar, Indore  180.0  3200
92          92  2 BHK Independent Floor  Vijay Nagar, Indore   23.5  1008

In [116]:
df1.Price.to_list()

[180.0, 23.5]

In [57]:
df1 = df[df['bhk'].str.contains("Villa")]

In [60]:
df1.Price.values

array([ 1.08,  2.5 , 60.  , 90.  , 60.  , 12.5 ])