In [28]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_excel('test04.xlsx')

In [24]:
df

,Unnamed: 0,title,price,area,owner
0,0,"['for rent inVijay Nagar', 'for rent inVijay N...","['18,000', '₹18,000', '12,000', '₹12,000', '15...","['900 sqft', '1100 sqft', '900 sqft', '1000 sq...","['A shrimali', 'Mayank Mayank', 'Akshay Yadav'..."

In [36]:
df.title = df.title.astype('object')

In [39]:
df.title.values

array(["['for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inShalimar,Vijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inBelmont Park,Vijay Nagar', 'for rent inShalimar,Vijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rentVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar', 'for rent inVijay Nagar']"],
      dtype=object)

In [26]:
df1 = pd.DataFrame()

In [19]:
# Creating two columns 
df1['Title'] = df.title[:] 
df1['Price'] = df.price[:]
df1['Area'] = df.area[:] 
df1['Owner'] = df.owner[:]

In [37]:
lst_col = 'title'

r = pd.DataFrame({
      col:np.repeat(df[col].values, df[lst_col].str.len())
      for col in df.columns.drop(lst_col)}
    ).assign(**{lst_col:np.concatenate(df[lst_col].values)})[df.columns]

ValueError: zero-dimensional arrays cannot be concatenated

In [ ]:

# Converting to excel 
df.to_excel('result.xlsx', index = False)